*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #333;
    --black2: #333;
    --white: #fff;
    --white2: #fff;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navegacao {
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    background: rgb(60, 60, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navegacao ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
}

.navegacao ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navegacao ul li a {

    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
    white-space: normal;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.5;
    transition: 0.3s;
}

.navegacao ul li a:hover{
    color: var(--white);
    opacity: 1;
    transform: translateY(-3px);
    font-size: 18px;
}

.principal{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    background: var(--black);
    min-height: 100vh;
}

.principal .barraTopo {
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    left: 300px;
    background: rgb(60, 60, 60);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.principal .barraTopo .logo {
    text-decoration: none;
    position: relative;
    font-size: 1.5em;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 100%;
    color: var(--white);
    opacity: 0.5;
    animation: animacao 5s linear infinite;
}

@keyframes animacao {
    
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
        color: var(--white);
        text-shadow: none;
        opacity: 0.5;
    }
    
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: var(--white);
        opacity: 1;
        text-shadow: 0 0 10px var(--white),
                    0 0 20px var(--white),
                    0 0 40px var(--white),
                    0 0 80px var(--white),
                    0 0 160px var(--white);
    }
}

.contato {

    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contato .conteudo {
    max-width: 800px;
    text-align: center;
}

.contato .conteudo h2 {

    font-size: 36px;
    font-weight: 500;
    color: var(--white2);
    margin: 15px;
}

.containerContato {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerContato .informacoesContato {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.containerContato .informacoesContato .box {

    position: relative;
    padding: 20px 0;
    display: flex;
}

.containerContato .informacoesContato .box .icon {

    min-width: 60px;
    height: 60px;
    background: var(--white2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.containerContato .informacoesContato .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
    color: rgb(204, 202, 202);
}

.containerContato .informacoesContato .box .text h3 {
   color: var(--white2);
}

.contatoForm {
    width: 40%;
    padding: 40px;
}

.contatoForm h2{
    font-size: 30px;
    color: var(--white2);
    font-weight: 500;
}

.contatoForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contatoForm .inputBox input, .contatoForm .inputBox textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--white);
    outline: none;
    background: var(--black2);
    resize: none;
    color: var(--white2);


}

.contatoForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.3s;
    color: var(--white);
}

.contatoForm .inputBox input:focus ~ span,
.contatoForm .inputBox input:valid ~ span, 
.contatoForm .inputBox textarea:focus ~ span,
.contatoForm .inputBox textarea:valid ~ span {

    color: var(--white);
    font-size: 12px;
    transform: translateY(-20px) ;

}

.contatoForm .inputBox input[type="submit"] {

    width: 100px;
    background: var(--white2);
    color: var(--black2);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
}

.contatoForm .inputBox:hover input[type="submit"] {

    box-shadow: 0 0 10px var(--white), 0 0 20px var(--white),  0 0 10px var(--white);
    
}

@media (max-width: 991px) {

    .contato {
        padding: 50px;
    }
    .containerContato {
        flex-direction: column;
    }
    .containerContato .informacoesContato {

        margin-bottom: 40px;
    }
    .containerContato .informacoesContato, .contatoForm {
        width: 100%;
    } 
}