*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #333;
    --black2: #333;
    --white: #fff;
    --white2: #fff;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navegacao {
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    background: rgb(60, 60, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navegacao ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
}

.navegacao ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navegacao ul li a {

    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
    white-space: normal;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.5;
}

.navegacao ul li a:hover{
    color: var(--white);
    opacity: 1;
}

.principal{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    background: var(--black);
    min-height: 100vh;
}

.principal .barraTopo {
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    left: 300px;
    background: rgb(60, 60, 60);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.principal .barraTopo .logo {
    text-decoration: none;
    position: relative;
    font-size: 1.5em;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 100%;
    color: var(--white);
    opacity: 0.5;
    animation: animacao 5s linear infinite;
}

@keyframes animacao {
    
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
        color: var(--white);
        text-shadow: none;
        opacity: 0.5;
    }
    
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: var(--white);
        opacity: 1;
        text-shadow: 0 0 10px var(--white),
                    0 0 20px var(--white),
                    0 0 40px var(--white),
                    0 0 80px var(--white),
                    0 0 160px var(--white);
    }
}

.containerCard {
    margin-top: 100px;
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.containerCard .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: rgb(221, 220, 220);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.containerCard .card:hover {
    height: 300px;
}

.containerCard .card .imgBx {
    position: relative;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.containerCard .card .imgBx img {
    max-width: 100%;
}

.containerCard .card .conteudoCard{
    position: relative;
    margin-top: -40px;
    padding: 10px 15px;
    text-align: center;
    color: rgb(59, 59, 59);
}

.containerCard .card .conteudoCard p{ 
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    text-align: justify;
}

.containerCard .card:hover .conteudoCard p{

    visibility: visible;
    opacity: 1;
    font-weight: 600;
    margin-top: 10px;
    transition-delay: 0.2s;
}